body {
  margin: auto;
  max-width: 50em;
  font-family: serif;
  background-color: wheat;
}

.item {
  border: 2px solid peru;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.info {
  border: 2px solid chocolate;
  margin: 1em;
  padding: 0.5em;
  background-color: cornsilk;
  color: chocolate;
}

.header {
  background-color: burlywood;
  color: black;
  padding: 1em;
  margin: 0.5em 0;
}

.nav {
  background-color: burlywood;
  padding: 0.5em;
  margin: 0.5em 0;
}

h1 {
  margin: 0;
}
