<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Leivontareseptit</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  <p/>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> |
    <a href="/find_item">Etsi resepti</a> |
    {% if session.user_id %}
      <a href="/new_item">Uusi resepti</a> |
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo tunnus</a>
  {% endif %}

  </p>

{% for message in get_flashed_messages() %}
<div class="info">
  <p>
    <b>{{ message }}</b>
</div>
  </p>
{% endfor %}

  {% block content %}{% endblock %}

</body>

</html>
