<!DOCTYPE html>
<html>

<head>
  <title>Uusi resepti</title>
</head>

<body>
  <h1>Uusi resepti</h1>
  <form action="/create_item" method="post">
    <p>
      Leivonnainen: <br />
      <input type="text" name="title" maxlength="50" required />
    </p
    <p>
      Resepti: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      Vaikeustaso (1=helppo, 3=vaikea): <br />
      <select name="difficulty">
        <option value="">(valitse)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      </p>
      <p>
      Makea vai suolainen: <br />
      <select name="sweetness">
        <option value="">(valitse)</option>
        <option value="makea">makea</option>
        <option value="suolainen">suolainen</option>
      </select>
    </p>

   <input type="submit" value="Luo resepti" />
  </form>
</body>

</html>
