{% extends "layout.html" %}

{% block title %}Reseptin poisto{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Reseptin poisto</h3>
<p> Resepti: <a href="/item/{{ item.id }}">{{ item.title }}</a></p>
<p> Haluatko varmasti poistaa tämän reseptin?</p>
<form action="/remove_item/{{ item.id }}" method="post">
  <input type="submit" name="remove" value="Poista resepti">
  <input type="submit" name="back" value="Palaa takaisin">
<form>
<p>
  <a href="/item/{{ item.id }}"> Takaisin reseptiin</a>
</p>
{% endblock %}
