{% extends "layout.html" %}

{% block title %}{{ item.title}}{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
{% if session.user_id == item.user_id %}
<p>
  <a href="/edit_item/{{ item.id }}">Muokkaa</a>
  <a href="/remove_item/{{ item.id }}">Poista</a>
  <a href="/images/{{ item.id }}">Kuvat</a>
</p>
{% endif %}
{% for image in images %}
<img src="/image/{{ image.id }}" />
{% endfor %}
<p>
  {{ item.description }}
</p>
<p>
</p>
<ul>
  <li>Tekijä: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
  {% if classes %}
  {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
  {% endif %}
</ul>
<h3>Kommentit</h3>
<ul>
  {% for comment in comments %}
  <li>{{ comment.note}}, <a href="/user/{{comment.user_id}}">{{ comment.username }} </a></li>
  {% endfor %}
</ul>
{% if session.user_id %}
<h3>Uusi kommentti</h3>
<form action="/create_comment" method="post">
  Kommentti: <br />
  <textarea type="text" name="note" rows="8" cols="60" maxlength="1000" required></textarea> />
  <input type="hidden" name="item_id" value="{{ item.id }}">
  <p>
  <input type="submit" value="Kommentoi" />
</form>
{% endif %}
{% endblock %}
